<div class="user-index-body">


<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h2>User info</h2>
			<table class="table teble-striped">
			  <tr>
				<%= attachment_image_tag current_user, :image, :fill, 100, 100,  fallback: "no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg"%>

			  </tr>
			  <tr>
				<th><p>Name</p></th>
				<th><%= current_user.name %></th>
			  </tr>
			  <tr>
				<div class="introduction">
				<th><p>Introduction</p></th>
				<th><%= current_user.introduction %></th>
				</div>
			  </tr>
			</table>
				<div class="edit-enter">
					<%= link_to edit_user_path(current_user), class:"col-xs-12 btn btn-mini btn-default" do %>
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
				  <% end %>
				</div>
			<h2>New book</h2>
				    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="XGmhJAmLtWBQbWa37Lorz28uj6mDGJvmZ4CezKiz0tZSqqIUsXsUpTaCmmEgZ5uMvC0gK7TuCHwJlhOHDMzQKw==">
				  <div class="field row">
				    <label for="book_title">Title</label>
				    <input class="col-xs-12" type="text" name="book[title]" id="book_title">
				  </div>

				  <div class="field row">
				    <label for="book_opinion">Opinion</label>
				    <textarea class="col-xs-12" name="book[body]" id="book_body"></textarea>
				  </div>

				  <div class="actions row">
				    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
				  </div>
				</form>
		</div>
		<div class="col-lg-9">
			<h2 class="index">Users</h2>
			<table class="table teble-striped">
				<tr>
					<th><p>image</p></th>
					<th><p>name</p></th>
					<th><p></p></th>
				</tr>
              <% @users.each do |user| %>
			  <tr>
			  	<td><%= attachment_image_tag current_user, :image, :fill, 10, 10,  fallback: "no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg"%>
			  	</td>
				<td><%= user.name %></td>
				<td><%= link_to "Show", books_path(user.id) %></td>
			  </tr>
			<% end %>
			</table>
		</div>
	</div>
</div>


</div>